.need-help{
  position: fixed;
  right: 0;
  top: 40%;
  /* border: 1px solid #aaa; */
  background-color: #eee;
  -ms-transform: rotate(270deg); /* IE 9 */
  transform: rotate(270deg);
  padding: 0 2.5rem;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}